<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<div layout:fragment="css">
    <style>
        body {
            background: linear-gradient(to right, rgb(244, 254, 229), rgb(193, 229, 221))
        }
        .card.bg-dark{
            margin: 50px;
        }
        .mb-3{
            margin: 30px;
        }
        #submit-button{
            margin-top: 20px;
        }
    </style>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
</div>

<div layout:fragment="script">
    <script th:src="@{/js/updateBook.js}"></script>
    <!-- Editor's Style -->
    <script src="https://cdn.tiny.cloud/1/ogpnruhgbsh51awvrblkrooy38miyp3g61qzu5jw81jnacn6/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        let plugins = ["link"];
        let edit_toolbar = "link image forecolor backcolor fontsize"
        tinymce.init({
            language: "ko_KR",
            selector: '#content',
            menubar : false,
            plugins: plugins,
            height : 500,
            toolbar: edit_toolbar,
            content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:16px }'
        });
    </script>
</div>


<div layout:fragment="content">
    <section class="d-flex vh-100">
        <div class="container-fluid row justify-content-center align-content-center">
            <div class="card bg-dark w-50" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                    <h2 class="text-white">도서 수정</h2>

                    <div class = "mb-2">
                        <form id="update-book-form">
                            <input type="hidden" id="book-id" th:value="${bookId}">
                            <div class="mb-3">
                                <label class="form-label text-white">책제목</label>
                                <input type="text" class="form-control" id="bookName">
                            </div>
                            <div class="mb-3">
                                <label class="form-label text-white">저자</label>
                                <input type="text" class="form-control" id="author">
                            </div>
                            <div class="mb-3">
                                <label class="form-label text-white">책소개</label>
                                <textarea class="form-control" id="content" rows="10"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="img" class="form-label">책 이미지</label>
                                <input class="form-control" type="file" id="img">
                            </div>

                            <button type="submit" id="submit-button" class="btn btn-light">등록</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</html>